.loader{
    width: 230px;
    height: 230px;
    border-top: 4px double rgba(162, 162, 162, .5);
    border-bottom: 4px double rgba(162, 162, 162, .5);
    border-radius: 50%;
    animation: animateLoading 1s infinite;

    margin: 0 auto;
    margin-top: 25vh;
    
}

@keyframes animateLoading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}